/*start reset*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3.h4, h5, h6, p {
    margin-bottom: 10px;
}

ol, ul, dl {
    list-style-position: inside;
}

/*end reset*/

body {
    font: 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    color: #444444;
    background-color: #888888;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 800;
    color: #000;
}

#spa {
    position: absolute;
    background-color: #ffffff;
    top: 18px;
    right: 18px;
    bottom: 18px;
    left: 18px;
    border-radius: 0 18px;
    min-height: 500px;
    min-width: 500px;
    overflow: hidden;
}

.spa-x-select {
}

.spa-clearfloat {
    height: 0; !important;
    float: none; !important;
    visibility: hidden; !important;
    clear: both; !important;
}